{% extends 'SematiServiceBundle::frame.html.twig' %}

{% block content %}
    <a class="cat_link" href="app_dev.php/cat/T-Shirts">
		<div class="cat">
			<img src="images/cat_shirt.png" alt ="T-Shirts" />
		</div>
	</a>
	<a class="cat_link" href="app_dev.php/cat/Shorts">
		<div class="cat">
			<img src="images/cat_shorts.png" alt ="Shorts" />
		</div>
	</a>
	<a class="cat_link" href="app_dev.php/cat/Sweatshirts">
		<div class="cat">
			<img src="images/cat_sweat.png" alt ="Sweatshirts" />
		</div>
	</a>
	<a class="cat_link" href="app_dev.php/cat/Schuhe">
		<div class="cat">
			<img src="images/cat_schuhe.png" alt ="Schuhe" />
		</div>
	</a>
	<a class="cat_link" href="app_dev.php/cat/Sonstiges">
		<div class="cat">
			<img src="images/cat_sonst.png" alt ="Sonstiges" />
		</div>
	</a>
{% endblock %}